# Generic Docker Compose
SCORPANION_HTTP_PORT=8080
SCORPANION_DB_NAME=scorpanion
SCORPANION_DB_USERNAME=scorpanion
SCORPANION_DB_PASSWORD=change-me
SCORPANION_DB_PASSWORD_FILE_PATH=./.secrets/scorpanion_db_password.txt

# Traefik override (only used with docker-compose.traefik.yml)
SCORPANION_DOMAIN=scorpanion.example.com
